{%- style -%}
  .view-indoor{
    padding:34px 0;
  }
  .view-title{
    text-align:center;
/*     margin:24px auto; */
  }
  .view-content{
    margin:34px auto;
    text-align:center;
  }
  .view-image-wrapper{
    display:flex;
    justify-content:space-between;
    position:relative;
  }
  .view-image-wrapper-swiper{
    width:100%;
    margin:0 auto;
  }
  
   .view-image-wrapper-swiper img{
     height:100%;
     width:100%;
     display:block;;
     border-radius:14px;
   }

  .view-indoor-bg{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(51, 51, 51,0.3);
    z-index:2;
   display:none;
   border-radius:14px;
    
  }
  .view-image-wrapper:hover .view-indoor-bg{
    display:block;
  }
  .view-button{
    text-decoration:none;
    text-align:center;
    display:block;
    color:#fff;
    padding:14px 24px;
    border:1px solid #fff;
    border-radius:34px;
    cursor:pointer;
    position:absolute;
    top:50%;
    left:50%;
    font-size:28px;
    font-weight:700;
    transform:translate(-50%,-50%);
    z-index:2;
    display:flex;
    align-items:center;
  }
  .view-button img{
    margin-left:10px;
    width:28px;
    vertical-align:middle;
  }
  .view-button:hover{
    background:#9DD735;
      border:none;
  }
  .view-button-text{
    padding-top:8px;
  }
  @media screen and (max-width:1400px){
  
     .view-button{
      font-size:22px;
       padding:10px 20px;
     }
     .view-button img{
      width:20px;
      margin-left:8px;
    }
  }
    @media screen and (max-width:1200px){
    /* .view-image-wrapper img{
      max-width:300px;
      max-height:260px;
    } */
  }
  @media screen and (max-width:750px){
    .view-indoor{
      padding:24px 0;
    }
    .view-title{
      font-size:20px !important;
      padding:0 24px;
      text-align:left;
      
    }
    .view-content{
      font-size:14px !important;
      padding:0 24px;
      margin:10px auto;
      text-align:left;
    }
    .view-image-wrapper{
      flex-wrap:wrap;
    }
    .view-image-wrapper-swiper img{
      border-radius:0;
    }
    .view-indoor-bg{
      border-radius:0;
    }
    .view-button{
      font-size:14px;
      padding:6px 14px;
      min-width:168px;
      vertical-align: middle;
    }
    .view-button-text{
      padding-top:4px;
    }
    .view-button img{
      width:12px;
      margin-left:6px;
    }
  }
{%- endstyle -%}

<div class="view-indoor page-width">
  <h2 class="view-title" style="font-size:{{ section.settings.heading_size }}px;">
    {{ section.settings.heading }}
  </h2>
  <div class="view-content" style="font-size:{{ section.settings.content_size }}px;">
    {{ section.settings.content }}
  </div>
  <div class="view-image-wrapper ">
      <!-- <img class="view-image-left-icon left-icon" src="https://cdn.shopify.com/s/files/1/0596/2249/0212/files/leftIcon.png?v=1678695161" />
      <img class="view-image-right-icon right-icon"  src="https://cdn.shopify.com/s/files/1/0596/2249/0212/files/rightIcon.png?v=1678695165" /> -->
      <div class="view-image-wrapper-swiper">
         {%- for block in section.blocks -%}
             {%- case block.type -%}
              {%- when '3d_image' -%}
                <img src="{{ block.settings.image | image_url }}" />
                
              {%- endcase  -%}
          {%- endfor -%}
        
       
      </div>
    <div class="view-indoor-bg">
      <a target="_blank" class="view-button" {% if section.settings.button_link == blank %}role="link"aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %}class="rich-text-button_button ">
        <div class="view-button-text">{{ section.settings.button_label | escape }}</div>
        <img src="https://cdn.shopify.com/s/files/1/0596/2249/0212/files/Polygon-2.png?v=1692007420" />
      </a>
    </div>
    
    
  </div>
  
  
  
</div>

<script>
  window.onload=function(){
      // autoplay:true,
    
  // var swiper = new Swiper(".view-image-wrapper-swiper", {
  //       slidesPerView: 1,
  //     spaceBetween: 30,
	 //  centeredSlides: true,
	 //  loop: true
  //     });
  //   // navigation: {
  //   //     nextEl: ".view-swiper-button-next",
  //   //     prevEl: ".view-swiper-button-prev",
  //   //   },
  //   // $('.view-image-left-icon').click(function(){
  //   //   $('.view-swiper-button-prev').trigger("click")
  //   // })
  //   // $('.view-image-right-icon').click(function(){
  //   //   $('.view-swiper-button-next').trigger("click")
    
  //   // })
  // }

  
</script>




{% schema %}
  {
    "name": "3D View Indoor",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"标题"
      },
       {
        "type": "range",
        "id": "heading_size",
        "min": 12,
        "max": 60,
        "default": 24,
        "step": 2,
        "label": "标题尺寸"
      },
      {
        "type":"text",
        "id":"content",
        "label":"文案内容"
      },
      {
        "type": "range",
        "id": "content_size",
        "min": 12,
        "max": 60,
        "default": 24,
        "step": 2,
        "label": "文案尺寸"
      },
      {
        "type": "text",
        "id": "button_label",
        "default": "Button label",
        "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
        "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
      }
    ],
    "blocks":[
      {"type":"3d_image","name":"图片内容","limit":3,
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"图片内容"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"3D View Indoor",
        "blocks":[
          {"type":"3d_image"}
        ]
      }
    ]
  }
{% endschema %}
