{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before, #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before  {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }
      #Banner-template--15563052187748__015b80b6-20a5-48c4-a1ac-874256d48648 {
        height: 360px;
      }

    }


    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }
      .banner__content.banner__content--bottom-center {
        align-items: center !important;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }}
    ;
  }
  @media screen and (min-width: 750px) {
   .lr-blocks-rotation-banner__content {
/*       padding: 120px  24px  108px !important; */
      justify-content: space-between !important;
    }
    .banner__content.banner__content--bottom-center {
      align-items: center !important;
    }
    .lr-blocks-rotation-banner__box {
      width:100%;
      display: flex;
      justify-content: space-between !important;
/*       min-width: var(--page-width); */
      height:100%;
      padding:0 !important;
    };

    .lr-blocks-rotation-banner__box .banner__box-item:first-child {
    text-align: left;
  }
  .lr-blocks-rotation-banner__box .banner__box-item {
    width: 50% !important;
     margin-top:0 !important;
    height:100%;
    text-align:left !important;
    position:relative;
  }
    .banner__box-item-wrapper{
      width:90%;
      max-height:96%;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
   .lr-blocks-rotation-image-wrapper {
     height:1146px;
   }
  }
    @media screen and (max-width:1280px) {
    .lr-blocks-rotation-image-wrapper {
      height:756px;
    }
    .lr-blocks-rotation-banner__box {
      justify-content: space-between !important;
      flex-wrap: wrap;
      min-width: unset !important;
      
    }
      .lr-blocks-rotation-banner__box h2{
        font-size:40px !important;
      }
     .lr-blocks-rotation-banner__box .banner__text_body{
        font-size:20px !important;
      }
  }
   .lr-blocks-rotation-banner__box  .lr-blockcomponent__button{
      width:100%;
      max-width:unset !important;
     display:flex;
   }
 .lr-blocks-rotation-banner__box  .lr-blockcomponent__button .button {
    background: none;
    /* color: #fff; */
    /* border: 1px solid #fff; */
    border-radius: 20px;
    padding: 6px 14px;
  }
  .lr-blocks-rotation-banner__box  .lr-blockcomponent__button .button img {
    margin-left: 14px;
    vertical-align: middle;
  }
 
  .right-text-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 14px 0;
  }
 
  .card-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-flex-box  .img-box{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .card-flex-box img {
    margin: 14px;
  }
  
.lr_block_rotation_bannerBox{
  width:100%;
  height:1146px;
  position:relative;
  overflow:hidden;
}
.lr_block_rotation_imgList {
    list-style: none;
    /* width: 2480px; */
    position: absolute;
  width:100%;
  height:100%;
    /* left:-620px; */
  }

/*   .imgList img {
    width: 600px;
    height: 350px;
  } */

  .lr_block_rotation_imgList .lr-blocks-rotation-image-wrapper {
    float: left;
/*     margin-right: 20px; */
    width:960px;
  }
  
.left-icon{
  position:absolute;
  top:50%;
  left:24px;
  transform:translateY(-50%);
  z-index:10;
}
  .right-icon{
  position:absolute;
  top:50%;
  right:24px;
  transform:translateY(-50%);
  z-index:10;
    
}
  @media screen and (max-width: 749px) {
    .lr-blocks-rotation-banner__box {
      padding:14px !important;
    }
    .lr-blocks-rotation-banner__content{
      paddding:24px 10px !important;
      justify-content: space-between !important;
      
    }
    .right-text-wrapper{
     text-align:left;
    }
    .lr-blocks-rotation-banner__box .banner__box-item {
      width: 98% !important;
      margin: 24px auto !important;;
      text-align: center !important;
      background:none !important;
      position:relative;
    }
    .lr-blocks-rotation-banner__box .banner__heading{
      text-align:center !important;
    }
    
      
     .lr-blocks-rotation-banner__box h2{
        font-size:32px !important;
      }
     .lr-blocks-rotation-banner__box .banner__text_body{
        font-size:16px !important;
      }
    .banner__text{
      text-align:left;
    }
    .card-flex-box .img-box{
      margin:20px 0;
    }
    .card-flex-box  .img-box img{
      margin:0;
    }
    .lr_block_rotation_bannerBox{
      height:400px !important;
    }
    .lr_block_rotation_imgList{
      width:100%;
      height:400px;
    }
    .lr-blocks-rotation-image-wrapper {
      width: 100% !important;
      height: 400px !important;
    }
    .left-icon{
      display:none;
    }
    .right-icon{
      display:none;
    }
  }
{%- endstyle -%}

<div
  id="Banner-{{ section.id }}"
  style=" background:#EDEDED;margin-top:{{ section.settings.margin_top }}px;margin-bottom:{{ section.settings.margin_bottom }}px;"
  class="banner {% if section.settings.image != blank %}  bg_wrapper {% endif %} banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %} ">

  <div class="banner__content lr-blocks-rotation-banner__content banner__content--{{ section.settings.desktop_content_position }} " style="{% if section.settings.is_imgBg == 'false' %} {% endif %}">
    <div class=" lr-blocks-rotation-banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient " style="{% if section.settings.layout=='image_first' %} flex-direction:row-reverse !important;{% endif %}">
      <div class="banner__box-item">
        <div class="banner__box-item-wrapper">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
              <h2
                class="banner__heading {{ block.settings.heading_size }}"
                {{ block.shopify_attributes }}
                style="color:{{block.settings.font_color}};font-weight:{{ block.settings.font-weight }};font-size:{{block.settings.font_size}}px;margin-top:{{block.settings.margin-top}}px;margin-bottom:{{block.settings.margin-bottom}}px;">
                <span style="font-family: 'KumbhSans-Bold'">{{ block.settings.heading | escape }}</span>
                <img style="height:60px;vertical-align:middle;" src="{{ 'EDGE-ONE.png'|asset_url }}" >
              </h2>
              {%- when 'text' -%}
              <div
                class="banner__text_body {{ block.settings.text_style }}"
                {{ block.shopify_attributes }}
                style="color:{{block.settings.font_color}};font-size:{{block.settings.font_size}}px;margin-top:{{block.settings.margin-top}}px;margin-bottom:{{block.settings.margin-bottom}}px;font-weight:{{ block.settings.font_weight }};">
                <span>{{ block.settings.text | escape }}</span>
              </div>
              {%- when 'buttons' -%}
              <div
                class="banner__buttons lr-blockcomponent__button {% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                {{ block.shopify_attributes }}
                style="margin-top:{{  block.settings.margin_top }}px;margin-bottom:{{  block.settings.margin_bottom }}px;{% if section.settings.layout=='image_first' %} flex-direction:row-reverse !important;{% endif %}">
                {%- if block.settings.button_label_1 != blank -%}
                  <a target="_blank" style="border:1px solid {{block.settings.button_color}};color:{{block.settings.button_color}};" {% if block.settings.button_link_1 == blank %}role="link"aria-disabled="true"{% else %}href="{{ block.settings.button_link_1 }}"{% endif %}class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}
  
                      {% if section.settings.image == blank %}
                      <img
                      src="{{   'button_logo_2.png' | asset_url }}"
                      width="12"
                      height="12" />
                    {% endif %}
  
                    {% if section.settings.image != blank %}
                      <img
                        src="{{   'button_logo_1.png' | asset_url }}"
                        width="12"
                        height="12" />
                      {% endif %}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a target="_blank" {% if block.settings.button_link_2 == blank %}role="link"aria-disabled="true"{% else %}href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}
                    <img
                      src="{{'button_logo_1.png'  | asset_url }}"
                      width="12"
                      height="12" />
                  </a>
                {%- endif -%}
  
              </div>
            {%- endcase -%}
          {%- endfor -%}

          <div class="card-flex-box">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
    
                  {%- when 'pictureCard' -%}
                  <div class="img-box">
                   
                    
                    <img
                      src="{{ block.settings.picture-card-item  | image_url }}"
                      width="{{block.settings.image_width }}"
                      loading="lazy" />
                  </div>
    
                {%- endcase -%}
    
              {%- endfor -%}
            </div>
        </div>
        


        
      </div>
<!--       {%- if section.settings.is_lr == 'true' -%} -->
<!--       onclick="tabChangePrev()"   onclick="tabChangeNext()"-->
        <div class="banner__box-item" style="{% if section.settings.is_imgBg == 'true' %} width:100%;height:100%;display: flex;justify-content: center;align-items: center;margin-top:0 !important;{% endif %}">
            <img class="left-icon swiper-button-prev"  src="https://cdn.shopify.com/s/files/1/0596/2249/0212/files/leftIcon.png?v=1678695161" />
            <img class="right-icon swiper-button-next"  src="https://cdn.shopify.com/s/files/1/0596/2249/0212/files/rightIcon.png?v=1678695165" />
            <div class="lr_block_rotation_bannerBox swiper">
              <div class="lr_block_rotation_imgList {{ section.settings.rotation_class }} swiper-wrapper">
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                      {%- when 'img_rotation' and block.settings.img_rotation != blank -%}
                      <div class="lr-blocks-rotation-image-wrapper swiper-slide"   style=" background:url({{ block.settings.img_rotation | image_url }}) no-repeat center center;background-size:cover; margin: 0 auto;display: block;height:100%;">
                      </div>
        
                    {%- endcase -%}
                  {%- endfor -%}
              </div>
              
            </div>
          
        </div>
<!--       {%- endif -%} -->
    </div>
  </div>
</div>
<script>
   $(function () {
      var imgListBoth=document.getElementsByClassName("lr_block_rotation_imgList");
     for(let i=0;i<=imgListBoth.length-1;i++){
       var mySwiper = new Swiper('.swiper', {
            direction: 'horizontal', // 垂直切换选项
            loop: true, // 循环模式选项

            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },

            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // 如果需要滚动条
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        })
     }
       
     // var mySwiper = new Swiper('.swiper', {
     //        direction: 'horizontal', // 垂直切换选项
     //        loop: true, // 循环模式选项

     //        // 如果需要分页器
     //        pagination: {
     //            el: '.swiper-pagination',
     //        },

     //        // 如果需要前进后退按钮
     //        navigation: {
     //            nextEl: '.swiper-button-next',
     //            prevEl: '.swiper-button-prev',
     //        },

     //        // 如果需要滚动条
     //        scrollbar: {
     //            el: '.swiper-scrollbar',
     //        },
     //     })       
       var windowWidth=document.documentElement.clientWidth;
      var thisIndex = 0;
      var flag = true;
      // imgList.style.width = (imgList.children.length * 960+60) + 'px';
    
    })
  </script>


{% schema %}
  {
    "name": "左右分块内容带有轮播图",
    "tag": "section",
    "class": "section",
    "settings": [
      
      {
        "type": "select",
        "id": "is_lr",
        "options": [
          {
            "value": "true",
            "label": "是"
          }, {
            "value": "false",
            "label": "否"
          }
        ],
        "default": "false",
        "label": "是否左右分块"
      },
      {
        "type":"range",
        "id":"margin_top",
        "min":0,
        "max":100,
        "step":2,
        "unit":"px",
        "default":24,
        "label":"上边距"
      },
      {
        "type":"range",
        "id":"margin_bottom",
        "min":0,
        "max":100,
        "step":2,
        "unit":"px",
        "default":24,
        "label":"下边距"
      },
      {
        "type": "checkbox",
        "id": "show_text_box",
        "default": true,
        "label": "t:sections.image-banner.settings.show_text_box.label"
      },
      {
        "type": "text",
        "id": "rotation_class",
        "default": "rotation-id",
        "label": "轮播图id，不能是中文和特殊符号"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "image_first",
            "label": "t:sections.image-with-text.settings.layout.options__1.label"
          }, {
            "value": "text_first",
            "label": "t:sections.image-with-text.settings.layout.options__2.label"
          }
        ],
        "default": "image_first",
        "label": "t:sections.image-with-text.settings.layout.label",
        "info": "t:sections.image-with-text.settings.layout.info"
      },
       {
            "type": "select",
            "id": "is_imgBg",
            "options": [
              {
                "value": "true",
                "label": "是"
              }, {
                "value": "false",
                "label": "否"
              }
            ],
            "default": "false",
            "label": "分块图片是否有背景色"
          }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.image-banner.blocks.heading.name",
        "limit": 5,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Image banner",
            "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              }, {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              }, {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          },
          {
            "type": "range",
            "id": "font-weight",
            "min": 0,
            "max": 900,
            "step": 100,
            "label": "字体加粗",
            "default": 400
          },
          {
            "type": "range",
            "id": "font_size",
            "min": 12,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "字体大小",
            "default": 24
          }, {
            "type": "range",
            "id": "margin-top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "上边距",
            "default": 0
          }, {
            "type": "range",
            "id": "margin-bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "下边距",
            "default": 0
          }, {
            "type": "select",
            "id": "font_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "字体颜色"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.image-banner.blocks.text.name",
        "limit": 5,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Give customers details about the banner image(s) or content on the template.",
            "label": "t:sections.image-banner.blocks.text.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
              }, {
                "value": "subtitle",
                "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
              }, {
                "value": "caption-with-letter-spacing",
                "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
          },
          {
            "type": "range",
            "id": "font_size",
            "min": 12,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "字体大小",
            "default": 24
          },
          {
            "type": "range",
            "id": "font_weight",
            "min": 0,
            "max": 900,
            "step": 100,
            "label": "字体加粗",
            "default": 400
          },
          {
            "type": "range",
            "id": "margin-top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "上边距",
            "default": 0
          }, {
            "type": "range",
            "id": "margin-bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "下边距",
            "default": 0
          }, {
            "type": "select",
            "id": "font_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "字体颜色"
          }
        ]
      },
      {
        "type": "buttons",
        "name": "t:sections.image-banner.blocks.buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_1",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
          }, {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
          }, {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
          }, {
            "type": "select",
            "id": "button_color",
            "options": [
              {
                "value": "#B5EF35",
                "label": "主题色"
              }, {
                "value": "#fff",
                "label": "白色"
              }, {
                "value": "#000",
                "label": "黑色"
              }
            ],
            "default": "#000",
            "label": "按钮颜色"
          }, {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "上边距",
            "default": 0
          }, {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "下边距",
            "default": 0
          }
        ]
      },
      {
        "type": "image_wrapper",
        "limit": 1,
        "name": "图片内容",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "第一张图片"
          }
        ]
      }, {
        "type": "pictureCard",
        "name": "图片卡片",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "picture-card-item",
            "label": "图片卡片"
          }, {
            "type": "range",
            "id": "image_width",
            "min": 10,
            "max": 150,
            "step": 4,
            "label": "图片宽度",
            "default": 10
          }
        ]
      },
      {
        "type":"img_rotation",
        "name":"轮播图片",
        "settings":[
          {
          "type":"image_picker",
            "id":"img_rotation",
            "label":"轮播图片"
          }
        ]
      },
      {
        "type": "right_text_wrapper",
        "name": "右边文案内容",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "right_text",
            "label": "文案内容"
          }, {
            "type": "range",
            "id": "font_size",
            "min": 12,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "字体大小",
            "default": 24
          }, {
            "type": "select",
            "id": "is_border",
            "options": [
              {
                "value": "true",
                "label": "是"
              }, {
                "value": "false",
                "label": "否"
              }
            ],
            "default": "false",
            "label": "是否有下边框"
          }
        ]
      }



    ],
    "presets": [
      {
        "name": "左右分块内容带有轮播图",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "buttons"
          },
          {
            "type": "image_wrapper"
          }, {
            "type": "pictureCard"
          }, {
            "type": "right_text_wrapper"
          },
          {
            "type":"img_rotation"
          }

        ]
      }
    ]
  }
{% endschema %}