
{% style %}
  .lr-text-with-img-1{
    /* background:red; */
  }
  .lr-text-with-img-1-wrapper{
    display:flex;
    justify-content:space-between;
    gap:20px;
  }
  .lr-text-with-img-1-content{
    width:49%;
    display:flex;
    flex-direction:column;
    gap:30px;
    justify-content:space-around;
  }
  .lr-text-with-img-1-content div{
    /* margin:30px auto; */
    font-size:32px;
  }
  .lr-text-with-img-1-box{
    width:49%;
    display:flex;
    flex-direction:column;
  }
  .lr-text-with-img-1-img img{
    border-radius:10px;
    width:100%;
  }
  .lr-text-with-img-1-btn{
    display:flex;
    text-decoration:none;
    width:338px;
    padding:12px 54px;
    border-radius:50px;
    border:2px solid #383838;
    justify-content:space-between;
    align-items:center;
    color:#383838;
    font-size:28px;
    font-weight:700;
    margin-top:82px;
  }
  .lr-text-with-img-1-box .lr-text-with-img-1-btn{
    display:none;
  }
  @media screen and (max-width:1680px){
    .lr-text-with-img-1-content{
      gap:24px;
    }
   .lr-text-with-img-1-content div{
       /* margin:24px auto; */
       font-size:28px;
     }
    .lr-text-with-img-1-btn{
      margin-top:62px;
    }
  }
  @media screen and (max-width:1440px){
    .lr-text-with-img-1-content{
      gap:20px;
    }
     .lr-text-with-img-1-content div{
       /* margin:20px auto; */
       font-size:24px;
     }
    .lr-text-with-img-1-btn{
      /* padding:12px 34px; */
      font-size:24px;
      margin-top:42px;
      
    }
     .lr-text-with-img-1-btn img{
       width:24px;
       height:24px;
     }
  }
   @media screen and (max-width:1280px){
     .lr-text-with-img-1-content{
      gap:18px;
    }
     .lr-text-with-img-1-content div{
       font-size:20px;
     }
    .lr-text-with-img-1-btn{
     margin-top:32px;
      
    }
     .lr-text-with-img-1-btn img{
       width:24px;
       height:24px;
     }
  }
  @media screen and (max-width:990px){
     .lr-text-with-img-1-wrapper{
      
    }
    .lr-text-with-img-1-content{
      gap:10px;
    }
    .lr-text-with-img-1-content div{
      font-size:14px;
      line-height:18px;
    }
    .lr-text-with-img-1-btn{
      padding:10px 32px;
      width:250px;
      margin-top:32px;
      font-size:18px;
    }
    .lr-text-with-img-1-content .lr-text-with-img-1-btn{
      display:none;
    }
     .lr-text-with-img-1-box .lr-text-with-img-1-btn{
      display:flex;
    }
     .lr-text-with-img-1-img{
       width:100%;
     }
  }
   @media screen and (max-width:750px){
   .lr-text-with-img-1-wrapper{
     padding:24px !important;
     gap:0;
   }
      .lr-text-with-img-1-content{
        gap:0;
    }
    .lr-text-with-img-1-content div{
      font-size:12px;
      margin:0px auto;
    }
     .lr-text-with-img-1-img{
       height:50%;
     }
     .lr-text-with-img-1-img img{
       border-radius:0;
       object-fit:cover;
       height:100%;
     }
    .lr-text-with-img-1-box{
      justify-content:space-around;
    }
    .lr-text-with-img-1-btn{
      width:unset;
      padding:4px 22px;
      font-size:14px;
      max-width:220px;
      border:1px solid #383838;
      
    }
     .lr-text-with-img-1-btn img{
       width:12px !important;
       height:12px !important;
     }
  }
{% endstyle %}




<div class="lr-text-with-img-1 page-width">
    <div class="lr-text-with-img-1-wrapper" style="padding-top:{{ section.settings.padding_top }}px;padding-bottom:{{ section.settings.padding_bottom }}px;">
      <div class="lr-text-with-img-1-content">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when "text_item" -%}
                  <div >{{ block.settings.text }}</div>
                
            {%- endcase  -%}
        {%- endfor -%}
        <a class="lr-text-with-img-1-btn" {% if section.settings.button_link == blank %} role="link"aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
        {{ section.settings.button_label | escape }}
        <img src="https://cdn.shopify.com/s/files/1/0596/2249/0212/files/player-1.png?v=1692337933" width="28" height="28">
        </a>
      </div>
      <div class="lr-text-with-img-1-box">
          
          <div class="lr-text-with-img-1-img" style="background:url('') center center no-repeat;background-size:cover;">
            <img src="{{ section.settings.image |image_url }}" />
          </div>
          <a class="lr-text-with-img-1-btn" {% if section.settings.button_link == blank %} role="link"aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
              {{ section.settings.button_label | escape }}
              <img src="https://cdn.shopify.com/s/files/1/0596/2249/0212/files/player-1.png?v=1692337933" width="28" height="28">
            </a>
      </div>
      
      
    </div>
</div>



{% schema %}
  {
    "name": "lr-text-with-img-1",
    "settings": [
      {"type":"text","id":"button_label","label":"按钮文案内容","default":"Learn More"},
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.multicolumn.settings.button_link.label"
      },
      {"type":"image_picker","id":"image","label":"选择图片"},
      {"type":"range","id":"padding_top","label":"上边距","min":10,"max":100,"step":2,"default":24,"unit":"px"},
      {"type":"range","id":"padding_bottom","label":"下边距","min":10,"max":100,"step":2,"default":24,"unit":"px"}
    ],
    "blocks":[
      {"type":"text_item","name":"文案内容","settings":[
        {"type":"text","id":"text","label":"显示内容","default":"The A36..."},
        {"type":"range","id":"text_size","label":"文案大小","default":20,"min":12,"max":80,"step":2}
      ]
      }
    ],
    "presets": [{
      "name":"lr-text-with-img-1",
      "blocks":[
         {"type":"text_item"}
      ]
    }
      
    ]
    
  }
{% endschema %}

