<link
  rel="stylesheet"
  href="{{ 'component-rte.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'section-text-only-mullited.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-text-only-mullited.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    
  }

 

.text-only-mullited__wrapper{
  margin:0 auto;
}
 
/* 富文本卡片组 */
.text-only-mullited__blocks{
/*   max-width:1150px; */
  margin:0 auto;
  text-align:center;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
  .only-card-mullited-item{
    width:420px;
    margin:48px 40px;
  }
  .only-card-mullited-item:hover .yellow-boder{
    background:#9ED835;;
  }
.text-only-mullited{
  background:#F1F1F1;
}
  .text-only-mullited__heading{
    font-family: "KumbhSans-Bold" !important;
  }
.yellow-boder{
  width:60px;
  height:8px;
  border-radius:4px;
  margin:20px auto;
/*   background:#9ED835; */
  border:1px solid #9ED835;
  display:block !important;
}
 
  @media screen and (max-width: 1080px) {
    .text-only-mullited .text-only-mullited__heading{font-size:32px !important;font-family: "KumbhSans-Bold" !important;}
    .text-only-mullited-card-group{font-size:20px !important;flex-wrap:wrap;}
  }
 @media screen and (max-width: 750px) {
  .text-only-mullited__blocks {
    padding:0 10px !important;
    gap:10px;
    justify-content:flex-start;
  }
   .only-card-mullited-item{
     width:45% !important;
     margin:0 !important;
     height:150px !mportant;
   }
   .text-only-mullited__blocks  .yellow-boder{
     margin:10px auto;
   }
   .text-only-mullited .text-only-mullited__heading{font-size:12px !important;font-family: "KumbhSans-Bold" !important;}
    .text-only-mullited__text{
      font-size:10px !important;
    }
}

{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %}  {% endunless %}">
  <div class="text-only-mullited  color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} text-only-mullited--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
      <div class="text-only-mullited__blocks  page-width {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'only-card-mullited-item' -%}
            <div class="only-card-mullited-item">
            <h2
              class="text-only-mullited__heading rte"
              {{ block.shopify_attributes }}
              style="font-weight:{{ block.settings.head_weight }};font-size:{{ block.settings.heading_size }}px">
              {{ block.settings.heading_label | replace: 'p>', 'span>' }}
            </h2>
      
            <div class="yellow-boder"></div>
            <div
              class="text-only-mullited__text rte"
              {{ block.shopify_attributes }}
              style="font-weight:{{ block.settings.text-weight }};font-size:{{ block.settings.text_size }}px;">
              {{ block.settings.text_label }}
            </div>
          </div>
          {%- endcase -%}
        {%- endfor -%}
        
      </div>
  </div>
</div>


{% schema %}
  {
    "name": "自定义富文本列表",
    "tag": "section",
    "class": "section",
    "settings": [
     
     {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    "blocks": [
      {
        "type": "only-card-mullited-item",
        "name": "富文本内容",
        "limit": 6,
        "settings": [
          {
            "type": "text",
            "id": "heading_label",
            "default": "<p>Talk about your brand</p>",
            "label": "富文本标题"
          }, {
            "type": "range",
            "id": "heading_size",
            "min":12,
            "max":60,
            "step":2,
            "default":24,
            "label":"标题大小"
          }, {
            "type": "range",
            "id": "head_weight",
            "min": 0,
            "max": 900,
            "step": 100,
            "label": "字体加粗",
            "default": 400
          },
          {
            "type": "text",
            "id": "text_label",
            "default": "<p>Talk about your brand</p>",
            "label": "富文本标题"
          }, {
            "type": "range",
            "id": "text_weight",
            "min": 0,
            "max": 900,
            "step": 100,
            "label": "字体加粗",
            "default": 400
          },
          {
            "type": "range",
            "id": "text_size",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "字体大小",
            "default": 20
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "自定义富文本列表",
        "blocks": [
          {
            "type": "only-card-mullited-item"
          }
        ]
      }
    ]
  }
{% endschema %}