{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .video-button{
    border: 1px solid #fff;
    padding: 6px 14px;
    font-size: 14px;
    background: none !important;
    width: unset;
    border-radius: 14px;
    height: unset;
    color:#fff;
    
  }
  .video-button img{
    width:12px;
    height:12px;
    margin-left:10px;
    vertical-align:middle;
  }
  .video-learn-more-item{
    width:460px;
    height:270px;
    position:relative;
    display:block !important;
  }
  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .video-learn-more{
      display:flex;
      justify-content:space-between;
      background:#F1F1F1;
/*       margin-bottom:58px; */
      padding:26px 0 46px;
      flex-wrap:wrap;
    }
    
    .video-learn-more-item:last-child{
      width:380px;
    }
   .video-learn-more-item .button{
        border: 1px solid #333333;
        padding:16px 20px 16px 30px;
        font-size: 28px;
        background: none !important;
        width: unset;
        border-radius: 34px;
        height: unset;
        color:#333333;
       position:absolute;
       top:50%;
       left:40px;
       transform:translateY(-50%);
      font-family: "KumbhSans-Bold" !important;
    }
    .video-learn-more-item .button img{
      width:12px;
      height:12px;
      margin-left:10px;
    }
  }
   @media screen and (max-width: 1680px) {
    .video-learn-more-item{
      width:402px !important;
      height:236px !important;
      
    }
  }
   @media screen and (max-width: 1440px) {
   .video-learn-more-item{
      width:346px !important;
      height:202px !important;
      
    }
  }
  @media screen and (max-width: 1280px) {
    .video-learn-more-item{
      width:304px !important;
      height:178px !important;
    }
  }
  @media screen and (max-width: 990px) {
    .video-section{
      padding:0 !important;
    }
  .video-learn-more{
      display:flex;
      justify-content:space-between;
      background:#F1F1F1;
      margin-bottom:28px;
      padding:14px 0 22px;
      flex-wrap:wrap;
    }
    .video-learn-more-item{
      width:360px !important;
      height:240px;
      position:relative;
      display:block !important;
      margin:0 auto;
    }
   .video-learn-more-item .button{
        border: 1px solid #333333;
        padding: 6px 14px;
        font-size: 14px;
        background: none !important;
        width: unset;
        border-radius: 14px;
        height: unset;
        color:#333333;
       position:absolute;
       top:50%;
       left:40px;
       transform:translateY(-50%)
    }
    .video-learn-more-item .button img{
      width:12px;
      height:12px;
      margin-left:10px;
    }
    .video-learn-more-item:last-child{
      height:100px;
    }
    
  }
   @media screen and (max-width: 750px){
     .video-learn-more-item{
       width:49% !important;
       height:110px;
       margin:0 auto;
     }
   }
{%- endstyle -%}
<!--background:#F7F7F5;  -->
<div class="color-{{ section.settings.color_scheme }} gradient" style="">
  <div class="video-section isolate section-{{ section.id }}-padding">
    <div{% if section.settings.full_width %} class="page-width"{% endif %}>
<!--       {%- unless section.settings.heading == blank -%}
        <div class="title-wrapper title-wrapper--no-top-margin">
          <h2 class="title {{ section.settings.heading_size }}" style="font-size:{{ section.settings.font_size }}px;font-weight:{{ section.settings.font_weight }}">{{ section.settings.heading }}</h2>
        </div>
      {%- endunless -%} -->
    </div>
    <noscript>
      <div class="video-section__media"
        {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
      >
        <a href="{{ section.settings.video_url }}" class="video-section__poster media media--transparent media--landscape{% if section.settings.cover_image == blank %} video-section__placeholder{% endif %}">
          {%- if section.settings.cover_image != blank -%}
            {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}{%- endcapture -%}
            {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
            {{ section.settings.cover_image | image_url: width: 3840 | image_tag:
              loading: 'lazy',
              sizes: sizes,
              widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
              alt: alt
            }}
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
        </a>
      </div>
    </noscript>
    <deferred-media class="video-section__media deferred-media no-js-hidden gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}" style="" data-media-id="{{ section.settings.video_url.id }}"
      {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
    >
      <button
        id="Deferred-Poster-Modal-{{ section.settings.video_url.id }}"
        class="video-section__poster media deferred-media__poster media--landscape"
        type="button"
        style=""
        aria-label="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
      >
        {%- if section.settings.cover_image != blank -%}
          {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}{%- endcapture -%}
          {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
          {{ section.settings.cover_image | image_url: width: 3840 | image_tag:
            loading: 'lazy',
            sizes: sizes,
            widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            alt: alt
          }}
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        <div class="deferred-media__poster-button motion-reduce video-button">
<!--           {%- render 'icon-play' -%} -->
          {{ section.settings.button_label }}
          <img src="{{ 'button_logo_1.png' |asset_url}}" />
        </div>
      </button>
      <template>
        {%- if section.settings.video_url.type == 'youtube' -%}
          <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
        {%- else -%}
          <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
        {%- endif -%}
      </template>
    </deferred-media>

    <div class="video-learn-more">
        {% for block in section.blocks %}
          {% case block.type %}
            {%  when "video-pic-item" %}
            <div class="video-learn-more-item" style="background:url({{ block.settings.video-pic|image_url }}) no-repeat center center;background-size:cover;"></div>
          {% endcase %}
        {% endfor %}
        <div class="video-learn-more-item">
            <a {% if section.settings.button_link_1 == blank %}role="link"aria-disabled="true"{% else %}href="{{ section.settings.button_link_1 }}"{% endif %} class="button{% if section.settings.button_style_secondary_2 %}  button--secondary{% else %} button--primary{% endif %}">
            {{ section.settings.button_label_1 | escape }}
              <img
                src="{{'button_logo_2.png'  | asset_url }}"
                width="12"
                height="12" />
            </a>
        </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "video-learn-more",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "placeholder": "t:sections.video.settings.video_url.placeholder",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"按钮内容"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "字体大小",
      "default": 20
    },
    {
      "type": "range",
      "id": "font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "label": "字体加粗",
      "default": 400
    },
    {
      "type":"text",
      "id":"button_label_1",
      "label":"视频底部按钮文案"
    },
    {
      "type":"url",
      "id":"button_link_1",
      "label":"视频底部按钮链接"
    }
  ],
  "blocks": [
      {
        "type": "video-pic-item",
        "name": "video模块下面的图片元素",
        "limit":3,
        "settings": [
          {
            "type": "image_picker",
            "id": "video-pic",
            "label": "选择图片"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "video-learn-more",
      "blocks": [
          {
            "type": "video-pic-item"
          }
        ]
    }
  ]
}
{% endschema %}
